<a routerLink="/home">Salir</a>
<ul>
  <li *ngFor="let user of users; let i = index">
    <button (click)="selectedBoat(i)">pantalla {{ i + 1 }}</button>
  </li>
</ul>

<h1>Select your position</h1>
<select [(ngModel)]="selectedPosition">
  <option *ngFor="let position of users; let i=index" [value]="i">
    Pantalla {{ i + 1 }}
  </option>
</select>
<button (click)="sendPosition()">Add Position</button>

  <button *ngIf="startEnabled" (click)="startBoat()">Empezar a navegar!</button>

<app-barco ></app-barco>
